<%- include('./includes/head.ejs') %>        
  </head>
    <body>
        <%- include('./includes/navigation.ejs') %>
        <main>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= item.imageUrl %>" class="card-img-top" alt="<%= item.title %>">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= item.title %></h5>
                      <p class="card-text">$<%= item.price %></p>
                      <p class="card-text"><%= item.description %></p>
                      <%- include('./includes/form.ejs') %>
                    </div>
                  </div>
                </div>
              </div>
        